<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./css/index.css">
    <script src="js/vue.js"></script>
    <script src="js/axios.js"></script>
    <link rel="icon" href="image/logo.png" type="image/x-icon"/>
</head>

<body>
    <div id="app">
        <div id="front">
            <div class="size">
                <div class="logo" @click="toindex()">
                    <img src="image/logo.png">
                    <span>杰哥视频</span>
                </div>
                <div class="content">
                    <input type="text" placeholder="请输入视频名称" v-model="sinfo" @keyup.enter="tosearch()">
                    <img src="image/search.png" id="search_img" @click="tosearch()">

                    <input type="button" value="投稿" id="upload" class="power" @click="toupload">
                    <input type="button" value="注册" id="register" class="power" @click="toregister"
                        :class="{'active':isActive}">
                    <input type="button" value="登录" id="login" class="power" @click="tologin"
                        :class="{'active':isActive}">


                    <div id="headimg">
                        <img v-bind:src=`/download/avatar?userId=${currentUserId}`
                            onerror="this.src='./image/hello.jpg';this.οnerrοr=null">

                        <!--"this.src='./image/hello.jpg';this.οnerrοr=null"-->
                        <div id="infor">
                            <ul>
                                <li><a href="" @click.prevent="info">个人资料</a></li>
                                <li><a href="" @click.prevent="like">个人收藏</a></li>
                                <li><a href="" @click.prevent="exit">退出</a></li>
                            </ul>
                        </div>
                    </div>



                </div>
            </div>
        </div>
        <div id="choose">
            <div>
                <input type="button" value="全部">
                <div class="videos">
                    <div class="video" v-for="(item, index) in videoList" :key="index"
                        @click="toVideo(item.id,item.title,item.createTime,item.viewCount)">
                        <div><img v-bind:src=`/download/cover?videoId=${item.id}`
                                onerror="this.src='./image/demo.png';this.οnerrοr=null" :title="item.title"
                                class="vimg"></div>
                        <div class="intro" id="vtitle">视频标题: <span>{{item.title}}</span></div>
                        <div class="intro">上传时间: <span>{{item.createTime.split(" ")[0]}}</span></div>
                        <div class="intro">点击数量: <span>{{item.viewCount}}</span> 次</div>
                    </div>
                </div>
                <!-- 页面选择 -->
                <div class="size" id="page">
                    <div class="pagenum">
                        <ul>
                            <!-- 点击实现跳转前一页页面 -->
                            <li v-if="pageNum>1" v-on:click="pageNum--,goPage(pageNum)">＜</li>
                            <li v-if="pageNum==1" class="banclick">＜</li>
                            <li v-for="i in indexs" @click="goPage(i)" v-bind:class="{'l1':i==pageNum}">{{i}}</li>
                            <!-- 点击实现跳转后一页页面 -->
                            <li v-if="pageNum!=totalPage" v-on:click="pageNum++,goPage(pageNum)">＞</li>
                            <li v-if="pageNum==totalPage" class="banclick">＞</li>
                            <li>共{{totalPage}}页</li>
                        </ul>
                        <!-- 页面跳转至输入的页面数 -->
                        <div class="jump">
                            到第<input type="number" value="1" class="jumppage">页
                            <input type="button" value="确定" class="l1" v-on:click="pageSkip()">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script>
        axios.defaults.withCredentials = true;
        new Vue({
            el: "#app",
            data: {
                currentUserId: 1,
                coverUrl: "",
                isActive: false,
                videoList: [],
                pageNum: 1,
                size: 8,
                totalPage: 8,
                title: "东京喰种 第一季第12集",
                time: "2020:12:08",
                count: 10,
                sinfo: "",
                user: {
                    username: "",
                    password: ""
                },
            },
            created() {
                this.loginstatus();
                this.getVideos();
            },
            methods: {
                info() {
                    console.log(this.currentUserId);
                    if (this.currentUserId != 1) {
                        window.location.href = "/info.html";
                    } else {
                        window.location.href = "/login.html";
                    }
                },
                like() {
                    console.log(this.currentUserId);
                    if (this.currentUserId != 1) {
                        window.location.href = "/like.html";
                    } else {
                        window.location.href = "/login.html";
                    }
                },
                getVideos() {
                    let vm = this;
                    let url = `/video/list?currentPage=${this.pageNum}&pageSize=${this.size}`;
                    axios.get(url, { withCredentials: true }).then(function (resp) {
                        console.log(resp);
                        vm.videoList = resp.data.videos.list;
                        vm.totalPage = resp.data.videos.totalPage;
                    })
                },
                goPage(num) {
                    if (num != this.pageNum) {
                        this.pageNum = num;
                    }
                    this.getVideos();
                },
                changeSize() {
                    this.getVideos();
                },
                pageSkip() {
                    var maxPage = this.totalPage;
                    var skipPage = Number(document.querySelector(".jumppage").value);
                    if (!skipPage) {
                        alert("请输入跳转页码哟!");
                        return;
                    } else if (skipPage < 1 || skipPage > maxPage) {
                        alert("您输入的页码超过页数范围了哟！");
                        return;
                    } else {
                        //this.cur=skipPage;
                        this.goPage(skipPage);
                    }
                },
                toindex() {
                    window.location.href = "/index.html";
                },
                tologin() {
                    window.location.href = "/login.html"
                },
                toregister() {
                    window.location.href = "/register.html"
                },
                tovideo() {
                    this.count++;
                    window.location.href = "/detail.html?count=" + this.count + "&time=" + this.time;
                },
                toupload() {
                    window.location.href = "/upload.html";
                },
                exit() {
                    var url = `/user/exit`;
                    axios.post(url).then(function (resp) {
                        console.log(resp);
                    })
                    window.location.href = "/index.html";
                },
                loginstatus() {
                    let vm = this;
                    var url = `/user/info`;
                    axios.post(url, { withCredentials: true }).then(function (resp) {
                        console.log(resp);
                        if (resp.data.flag) {
                            vm.isActive = resp.data.flag;
                            vm.currentUserId = resp.data.user.id;
                        }

                    })
                },
                toVideo(id, title, time, count) {
                    var url = `/video/count`;
                    axios.post(
                        url,
                        {
                            "id": id,
                            "viewCount": count
                        }
                    ).then(function (resp) {
                        console.log(resp);
                        window.location.href = "/detail.html?id=" + id;
                    })

                },
                tosearch() {
                    if (this.sinfo == "") {
                        alert("请输入视频信息~")
                    } else {
                        window.location.href = "/search.html?sinfo=" + this.sinfo;
                    }
                }
            },
            // 实现一次只显示5个页面数
            computed: {
                indexs() {
                    var left = 1;
                    var right = this.totalPage;
                    var arr = [];
                    if (this.totalPage >= 5) {
                        if (this.pageNum > 2 && this.pageNum < this.totalPage - 1) {
                            left = this.pageNum - 2;
                            right = this.pageNum + 2;
                        } else if (this.pageNum <= 3) {
                            left = 1;
                            right = 5;
                        } else {
                            left = this.totalPage - 4;
                            right = this.totalPage;
                        }
                    }
                    while (left <= right) {
                        arr.push(left);
                        left++;
                    }
                    return arr;
                },
            }
        })
    </script>

</body>

</html>